
/* Custom link hover styles */
 a.text-primary:hover {
  color: #E79B07 !important; /* Replace with your desired color */
}
a.text-secondary:hover{
  color:#bb7f06 !important;
}
.background-section {
    background-size: contain;
    position: absolute;
    width: 100%;
    margin-left:0 ;
    z-index: 1;

    }
    
    .background-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(36, 43, 51, 0.9); /* Adjust the color and opacity */
    z-index: -8;
  }
:root {
    --primary:#1f242b; /* Custom secondary color */
    --secondary:#2d353f; /* Custom primary color */
    --tertiary:#dfe4b3;
    --heading-color:#E79B07; /* Custom color for headings */
    --paragraph-color: #ffffff; /* Custom color for paragraphs */
}


.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-tertiary{
    background-color:var(--tertiary)  !important;
}

.text-primary {
    color: var(--paragraph-color) !important;
}

.text-secondary {
    color: var(--heading-color) !important;
}
.btn-primary{
    background-color:var(--secondary);
}





/*Navigation bar*/

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    width: 100%;
    box-shadow: 0 4px 8px rgb(231, 155, 7, 0.5);
    transition: all 0.3s ease;
}

.navbar-nav {
    flex-direction: column; /* Aligns the nav items in a row */
    margin-left: auto; /* Pushes the nav items to the right */
}


.navbar-brand {
    margin-right: auto; /* Ensures the brand stays on the left side */
    font-family: "MagistralTT-Bold";
    font-size: 36px;
}
.nav-item {
    margin-right: 15px;
} 


.nav-links a {
    font-size: 1rem; /* Adjust font size if needed */
    text-decoration: none; /* Remove underline from links */
    margin-right: 20px;
  
  }
  .nav-links a:hover {
  color: #E79B07 !important;
  }

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}
  

.icon-box {
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .bi{
    font-size: 1.5rem;
  }
  
  .bi:hover  {
    color: #E79B07 !important;
     cursor: pointer;
     transition: all 0.3s ease;
  }
  
/*Animation and hover effeccts*/

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#E79B07; /* Blue color */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-link:hover {
    animation: moveLeftBack 0.6s ease forwards;
    color: inherit !important;
  }

  @keyframes moveLeftBack {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .btn:hover{
    background-color: #E79B07;
    color: #1f242b !important;
    transition: all 0.3s ease;
}




/*Corousel Styles*/


.carousel {
    margin-top: auto; /* Add margin to avoid overlap with fixed navbar */
}
.carousel-inner {
    max-height: 400px; /* Set a maximum height for the carousel */
}
.carousel-inner img {
    width: 100%; /* Ensure images fit the width of the carousel */
    height: 100%; /* Ensure images fit the height of the carousel */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
.carousel-caption {
    bottom: 20px; /* Adjust the position of the caption */
}
.carousel-caption h5, .carousel-caption p {
    color: #fff; /* Ensure caption text is white */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to the captions */
    padding: 10px; /* Add padding around the caption text */
}





/*Body styles*/


.sermon-post {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .sermon-post:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sermon-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sermon-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .sermon-header .sermon-meta {
    display: flex;
    flex-direction: column;
  }
  
  .sermon-header .sermon-meta span {
    font-size: 0.9em;
  }
  
  .sermon-content p {
    margin-bottom: 1.5em; /* Adjust spacing between paragraphs */
    line-height: 1.2; /* Set comfortable line height */
  }
  
  @media (max-width: 767px) {
    .sermon-header {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .sermon-header .sermon-meta {
        flex-direction:column;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(100% - 60px); /* Adjusting for the image width and margin */
    }
  
    .sermon-header .sermon-meta span {
        font-size: 0.8em;
    }
    blockquote.scripture {
  font-style: italic;
  text-align: center;
  margin: 20px 0;
  }
  
  blockquote.scripture p {
  margin-bottom: 0;
  }
  
  blockquote.scripture .scripture-reference {
  font-style: normal; /* Override italics for the scripture reference */
  }
  
  }
  .card:hover {
    transform: translateY(-10px );
    transition: all 0.6s ease;
}

hr.custom-hr {
    border: none;
    height: 1px; /* Adjust height as needed */
    background-color: #E79B07;
  }



@media (max-width: 768px) {
    .carousel-caption {
        display: block !important; /* Ensure captions are displayed on small screens */

    }
    


}

@media (min-width: 768px) {
    .lg-large-font {
        font-size: 1.2rem; /* Adjust the size as needed */
    }


}

